// import Montserrat font and create fontface
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
}

* {
  font-family: Montserrat, sans-serif;
}

.app {
  margin: 100px;
}
