@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap") format("woff2"), url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lobster";
  src: url("https://fonts.googleapis.com/css2?family=Lobster&display=swap") format("woff2"), url("https://fonts.googleapis.com/css2?family=Lobster&display=swap") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  color: #005277;
}

.app {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  margin: 50px 50px 100px;
}
.app .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  font-family: "Lobster", sans-serif;
}
.app .header h1 {
  font-size: 72px;
  margin: 0;
}
.app .main {
  line-height: 2em;
  color: #353740;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app .main h2 {
  font-size: 24px;
}
.app .main .input-component {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.app .main .input-component form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .main .input-component form .buttons {
  display: flex;
}
.app .main .input-component form .button-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.app .main .input-component form .button-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  fill: #e6f7ff;
  pointer-events: none;
}
.app .main .input-component .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.app .main .input-component .input-container .word-input {
  width: 95%;
  max-width: 300px;
  height: 40px;
  text-align: center;
  outline: none;
  padding: 20px 20px 10px;
  font-size: 42px;
  line-height: 1;
  border: none;
  border-bottom: 2px solid #005277;
  font-family: "Lobster", sans-serif;
}
.app .main .input-component .input-container .word-input:focus {
  transform: scale(1.03);
  transition: transform 0.2s ease;
}
.app .main .input-component .input-container .word-input::placeholder {
  color: rgba(0, 81, 119, 0.2);
}
.app .main .input-component button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(0, 120, 212, 0.5490196078);
  color: #e6f7ff;
  border: none;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.app .main .input-component button.submit-btn {
  margin-top: 20px;
}
.app .main .input-component button.submit-btn:hover {
  transform: scale(1.03);
}
.app .main .input-component button:hover {
  background-color: rgba(0, 91, 161, 0.5490196078);
  transition: all 0.2s ease;
}
.app .main .input-component button:disabled {
  background-color: rgba(181, 205, 216, 0.7058823529);
  cursor: not-allowed;
}
.app .main .input-component .error {
  margin-top: 20px;
}
.app .main .input-component .listening {
  margin-top: 20px;
}
.app .main .input-component .loader {
  margin-top: 40px;
}
.app .main .response {
  margin-top: 50px;
  line-height: 1.5;
  text-align: left;
}
.app .main .response::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 650px) {
  .app {
    margin: 20px 20px 100px;
  }
}

/*# sourceMappingURL=index.css.map */
